/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : 2016/07/18, 1:18:39
    Update on : 2017/04/17, 23:13
    Author     : T

    
*/

html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

img {
    /*    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;*/
}

.header {
    position: static;
    background-image: url("../image/gold03.jpg");
    width: 100%;
    background-size: 10px 150%;
}

.time {
    color: #111111;
    font-family: 'Mv Boli';
}

.footer {
    position: fixed;
    color: #FFFF00;
    font-family: 'arial black';
    background-image: url("../image/metal01-768x576.jpg");
    background-size: 10px 150%;
    width: 100%;
    z-index: 1;
    bottom: 0;
}

.footer_char {
    font-size: 50%;
}