body {
    background-color: #E6D6AE;
    color: #FFFFAA;
}

@media only screen and (max-width: 750px) {
    .fileButton {
        font-size: 2vh;
    }
}

.success {
    font-size: small;
    font-style: italic;
    color: green;
}

.login-notice {
    font-size: 5px;
    color: brown;
}

.notice,
.warning,
.fail {
    font-size: small;
    color: red;
}

.logout {
    margin-top: 10vh;
}

.logout-with-session-reset {
    margin-top: 10px;
}