/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/*
    Created on : 2016/07/18, 1:18:39
    Update on : 2018/10/14, 18:33
    Author     : T


*/

html {
    height: 100%;
    font-family: 'Meiryo UI,ヒラギノ角ゴ';
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.container {
    margin: 0;
    padding: 0;
    height: 100%;
}

.contents {
  margin-bottom: 0;
}

img {
    /*
    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;
    */
}

.top-image {
  width: 40px;
  height: 40px;
}

header {
    position: relative;
    background-image: url("//bokkun.jp/common/error/client/image/gold03.jpg");
    width: 100%;
    background-size: 10px 150%;
}

.contents {
    padding-bottom: 9vh;
}

.date,
.time {
    color: #111111;
    font-family: 'Mv Boli';
}

.footer {
    position: fixed;
    color: #FFFF00;
    font-family: 'arial black';
    background-image: url("//bokkun.jp/common/error/client/image/metal01-768x576.jpg");
    background-size: 10px 150%;
    width: 100%;
    bottom: 0;
}

.footer_char {
    font-size: 50%;
}

.debug,
.debug>* {
    color: #000000;
    background-color: #E7E18F;
    font-style: italic;
    font-size: 80%;
    display: inline-block;
    word-break : break-all;
    word-wrap: break-word;
    overflow-wrap : break-word;
}

.warning {
    color: #FF0000;
}
