common/Word/Local.php
private/create/subdirectory/smarty/*
private/edit/subdirectory/smarty/*
private/log/error/subdirectory/smarty/*
private/log/access/subdirectory/smarty/*
private/common/Word/Local.php
public/client/csv/CSV/*
public/client/csv/product01/*
public/client/image/*
public/client/zip/*
public/common/Word/Local.php
template/subdirectory/smarty/*
twig/subdirectory/twig/*
.vscode/*