# .htaccessでRewriteを有効化する
RewriteEngine On
RewriteBase /

#エラー関連
ErrorDocument 400 /common/error/400/
ErrorDocument 401 /common/error/401/
ErrorDocument 403 /common/error/403/
ErrorDocument 404 /common/error/404/
ErrorDocument 405 /common/error/405/
ErrorDocument 406 /common/error/406/
ErrorDocument 408 /common/error/408/
ErrorDocument 410 /common/error/410/
ErrorDocument 421 /common/error/421/
ErrorDocument 423 /common/error/423/
ErrorDocument 500 /common/error/500/
ErrorDocument 502 /common/error/502/
ErrorDocument 503 /common/error/503/
ErrorDocument 507 /common/error/507/
ErrorDocument 510 /common/error/510/

#セキュリティ対策
#XSS
Header always set X-XSS-Protection "1; mode=block"
#Content Type (ダウンロード)
Header always set X-Content-Type-Options "nosniff"
#クリックジャッキング
Header always append X-Frame-Options SAMEORIGIN

#HSTS
RewriteCond %{HTTPS} !=on [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
#HSTSプリロード
Header set Strict-Transport-Security "max-age=315360000; includeSubDomains; preload"

#特定のページの404化
RewriteCond %{REQUEST_URI} ^/private/$ [OR]
RewriteCond %{REQUEST_URI} ^/private/Sample/$ [OR]
RewriteCond %{REQUEST_URI} ^/public/client/image/IMAGE/_old/(.*)$
RewriteRule ^.*$ - [R=404]

#(一部のファイル以外のPHPファイルに直接アクセスできなくさせる)
#共通
RewriteCond %{REQUEST_URI} !(/common/error/)
RewriteCond %{REQUEST_URI} !(/index.php$)
RewriteCond %{REQUEST_URI} !(/subdirectory.*/index.php$)
RewriteCond %{REQUEST_URI} !(/subdirectory.*/design.php$)
RewriteCond %{REQUEST_URI} !(/subdirectory.*/server.php$)
#管理側
RewriteCond %{REQUEST_URI} !(^/private/admin.php$)
RewriteCond %{REQUEST_URI} !(^/private/secure.php$)
RewriteCond %{REQUEST_URI} !(^/private/reset.php$)
RewriteCond %{REQUEST_URI} !(^/private.+/edit.php$)
#公開側
RewriteRule \.php - [F]
#RewriteRule \.php - [R=403]

RewriteCond %{REQUEST_URI} !(^/public/common)
RewriteCond %{REQUEST_URI} !(^/public/client)
RewriteRule ^public/(.*) $1 [R]

#メンテナンス対象外ページを指定してメンテナンスをかけるときに使用
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_URI} !(/IMAGE/)
#RewriteCond %{REQUEST_URI} !(/private/admin.php)
#
##メンテナンス
#RewriteCond %{REQUEST_URI} !(/common/error/503/)
#RewriteCond %{REQUEST_URI} !(/common/error/client/)
#RewriteRule ^.*$ - [R=503,L]