#ベーシック認証
#AuthType Basic
#AuthName "Please enter ID and password."
#AuthUserFile /virtual/bokkun/.htpasswd
#Require valid-user

# .htaccessでRewriteを有効化する
RewriteEngine On
RewriteBase /

#エラー関連
ErrorDocument 400 /common/error/400/
ErrorDocument 401 /common/error/401/
ErrorDocument 403 /common/error/403/
ErrorDocument 404 /common/error/404/
ErrorDocument 500 /common/error/500/

#セキュリティ対策
#XSS
Header always set X-XSS-Protection "1; mode=block"
#Content Type (ダウンロード)
Header always set X-Content-Type-Options "nosniff"
#クリックジャッキング
Header always append X-Frame-Options SAMEORIGIN

#HSTS
#RewriteCond %{HTTPS} !=on [NC]
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
#HSTSプリロード
#Header set Strict-Transport-Security "max-age=315360000; includeSubDomains; preload"
