body {
    background-color: #E6D6AE;
    color: #FFFFAA;
}

@media only screen and (max-width: 750px) {
    .fileButton {
        font-size: 2vh;
    }
}

.result-src {
    width: 100%;
    height: 40%;
}

.success {
    font-size: small;
    font-style: italic;
    color: green;
}

.notice,
.warning,
.fail {
    font-size: small;
    color: red;
}
