body {
    color: olive;
    background-color: rgb(199, 194, 194);
}

.contents {
    padding-bottom: 15%;
}

.thanks {
    font-family: 'Meiryo UI';
    color: green;
}

iframe {
    width: 100%;
    min-height: 100%;
}
