body {
    color: olive;
    background-color: darkgray;
}

.contents {
    padding-bottom: 15%;
}

.thanks {
    font-family: 'Meiryo UI';
    color: green;
}

iframe {
    width: 100%;
    min-height: 100%;
}
