#PHP7設定
AddHandler application/x-httpd-php71cgi .php


# .htaccessでRewriteを有効化する
RewriteEngine On
RewriteBase /
#アクセス制限
order deny,allow
deny from all
allow from 210.136.248.8
allow from 106.180.1.141

