body {
    background-color: #E6D6AE;
    color: #FFFFAA;
}

@media only screen and (max-width: 750px) {
    .fileButton {
        font-size: 2vh;
    }
}

.result-log-view {
    width: 100%;
    display: inline-block;
    word-break: break-all;
}

.log {
    white-space: pre-wrap;
}

.success {
    font-size: small;
    font-style: italic;
    color: green;
}

.notice,
.warning,
.fail {
    font-size: small;
    color: red;
}
