body {
    background-color: #2ef5e4;
    color: #e07116;
}

@media only screen and (max-width: 750px) {
.fileButton { font-size: 2vh; }
}

.success {
    font-size: small;
    font-style: italic;
    color:green;
}

.notice,.warning,.fail {
    font-size: small;
    color:red;
}