/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016/07/18, 0:59:00
    Author     : T
*/
.indexContents {
	color: #11FF11;
	background-color: #FF6700;
	width: 100%;
	top: 13%;
	min-height: 100%;
}

.addContents {
	color: #11FF11;
	background-color: #890F65;
	width: 100%;
	top: 13%;
	min-height: 100%;
}

.registerContents {
	color: #11FF11;
	background-color: #FFFF00;	
	width: 100%;
	top: 13%;
	min-height: 100%;
}