# .htaccessでRewriteを有効化する
RewriteEngine On
RewriteBase /

#セキュリティ対策
#XSS
Header always set X-XSS-Protection "1; mode=block"
#Content Type (ダウンロード)
Header always set X-Content-Type-Options "nosniff"
#クリックジャッキング
Header always append X-Frame-Options SAMEORIGIN

#HSTS
RewriteCond %{HTTPS} !=on [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
#HSTSプリロード
Header set Strict-Transport-Security "max-age=315360000; includeSubDomains; preload"

#メンテナンス
#RewriteRule ^.*$ - [R=503,L]
RewriteRule ^$ - [NC,R=404,L]
