body {
    background-color: #E6D6AE;
    color: #FFFFAA;
}

@media only screen and (max-width: 750px) {
    .fileButton {
        font-size: 2vh;
    }
}

.all-check-label {
    user-select: none;
}

.page-moved {
    font-style: oblique;
    color: silver;
    font-family: Times New Roman,
        "ＭＳ Ｐゴシック";
}

.success {
    font-size: small;
    font-style: italic;
    color: green;
}

.notice,
.warning,
.fail {
    font-size: small;
    color: red;
}
