body {
    background-color: #E6D6AE;
    color: #FFFFAA;
}

@media only screen and (max-width: 750px) {
    .fileButton {
        font-size: 2vh;
    }
}

.all-check-label {
    user-select: none;
}

.page-moved {
    font-style: oblique;
    color: silver;
    font-family: Times New Roman,
        "ＭＳ Ｐゴシック";
}

.image-page-input {
    margin-left: 1vw;
}

.success,
.select-notice,
.notice,
.warning,
.fail {
    font-size: small;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* 色だけ個別に指定 */
.success {
    font-style: italic;
    color: green;
}
.select-notice,
.notice,
.warning,
.fail {
    color: red;
}

/* 空のときは非表示（まとめて適用） */
.success:empty,
.select-notice:empty,
.notice:empty,
.warning:empty,
.fail:empty {
    display: none;
}
