body {
    background-color: #FF7755;
    color: #FFFFAA;
}

/* input {
  font-size: 3vw;
}

input[type="text"] {
  font-size: 2vw;
}

input[type="file"] {
  padding-bottom: 2vh;
  padding: 6px;
} */
